# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob
plugins/** @sunix @vitaliy-guliy @olexii4
extensions/** @mmorhun @evidolob
che-plugins/** @evidolob @tolusha
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr

