# Default Owners
* @azatsarynnyy @RomanNikitenko @vzhukovs

# Custom folders
configs/** @azatsarynnyy @RomanNikitenko @vzhukovs
devfiles/** @azatsarynnyy @RomanNikitenko @vzhukovs
dockerfiles/** @azatsarynnyy @RomanNikitenko @vzhukovs
extensions/** @azatsarynnyy @RomanNikitenko @vzhukovs
generator/** @azatsarynnyy @RomanNikitenko @vzhukovs
plugins/** @vinokurig @vitaliy-guliy @svor
