# Default Owners
* @azatsarynnyy @RomanNikitenko

# Custom folders
configs/** @azatsarynnyy @RomanNikitenko
devfiles/** @azatsarynnyy @RomanNikitenko
dockerfiles/** @azatsarynnyy @RomanNikitenko
extensions/** @azatsarynnyy @RomanNikitenko
generator/** @azatsarynnyy @RomanNikitenko
plugins/** @vinokurig @vitaliy-guliy @svor
