#
# Copyright (c) 2021 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

# Che-Theia workflow
# matrix jobs with alpine and ubi8
name: CI

# Trigger the workflow on pull request
on: [pull_request]

jobs:
  node-build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      name: Checkout che-theia source code
      with:
        fetch-depth: "0"
    - uses: actions/setup-node@v1
      name: Configuring nodejs 10.x version
      with:
        node-version: '14.x'
    - name: build
      run: yarn
    - name: Test Coverage
      uses: codecov/codecov-action@v1
  docker-build:
    strategy:
      matrix:
        dist: [ 'alpine', 'ubi8' ]
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      name: Checkout che-theia source code
    - uses: actions/setup-node@v1
      name: Configuring nodejs 10.x version
      with:
        node-version: '14.x'
    - name: build
      run: |
        docker image prune -a -f
        docker pull quay.io/eclipse/che-theia-dev:next
        docker tag quay.io/eclipse/che-theia-dev:next eclipse/che-theia-dev:next
        ./build.sh --root-yarn-opts:--ignore-scripts --dockerfile:Dockerfile.${{matrix.dist}}
      # use CDN to make sure we're testing our webpack customizer properly
      env:
        CDN_PREFIX: https://static.developers.redhat.com/che/theia_artifacts/
        MONACO_CDN_PREFIX: https://cdn.jsdelivr.net/npm/

  travis-build:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - name: Trigger build on Travis CI
      run: |
        body="{
        \"request\":{
        \"config\": {
          \"env\": {
            \"global\": [
              \"PR_NUMBER=${{ github.event.pull_request.number }}\"
             ]
           }
        }
        }}"
        curl -s -X POST \
        -H "Content-Type: application/json" \
        -H "Accept: application/json" \
        -H "Travis-API-Version: 3" \
        -H "Authorization: token ${{ secrets.TRAVIS_TOKEN }}" \
        -d "$body" \
        https://api.travis-ci.com/repo/eclipse-che%2Fche-theia/requests
